<a href="https://colab.research.google.com/github/Maheshreddy31/ATS-resume/blob/main/JALA_Academy_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Basics

1.Program to Print Your Name

In [2]:
print("Mahesh Reddy")

Mahesh Reddy

2.Program for Single Line and Multi-Line Comments

In [ ]:
# This is a single-line comment
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is another multi-line comment.
It can also span multiple lines.
Triple double quotes work the same way as triple single quotes.
"""
print("This is an example using triple double quotes.")

This is an example using triple double quotes.

3.Define variables for different Data Types int, Boolean, char, float, double and print on the Console.

In [ ]:
int_variable = 10
boolean_variable = True
char_variable = 'A'
float_variable = 3.14
double_variable = 2.71828

print("int_variable:", int_variable)
print("boolean_variable:", boolean_variable)
print("char_variable:", char_variable)
print("float_variable:", float_variable)
print("double_variable:", double_variable)

int_variable: 10
boolean_variable: True
char_variable: A
float_variable: 3.14
double_variable: 2.71828

4.Define the local and Global variables with the same name and print both variables and understand the scope of the variables

In [ ]:
# Declaring a function
def add():
    a = 20
    b = 30
    c = a + b
    print("The sum is:", c)

# Calling a function
add()

The sum is: 50

In [ ]:
# Declare a variable and initialize it
x = 20

# Global variable in function
def mainFunction():
    # printing a global variable
    global x
    print(x)
    # modifying a global variable
    x = 'Welcome To Mahesh'
    print(x)

mainFunction()
print(x)

20
Welcome To Mahesh
Welcome To Mahesh

Operators

1. Write a function for arithmetic operators(+,-,*,/)

In [ ]:
a = 32    # Initialize the value of a
b = 6      # Initialize the value of b
print('Addition of two numbers:',a+b)
print('Subtraction of two numbers:',a-b)
print('Multiplication of two numbers:',a*b)
print('Division of two numbers:',a/b)

Addition of two numbers: 38
Subtraction of two numbers: 26
Multiplication of two numbers: 192
Division of two numbers: 5.333333333333333

2. Write a method for increment and decrement operators(++, --)

In [ ]:
def increment_decrement():
    number = 5

    # Increment
    number += 1
    print("After increment:", number)

    # Decrement
    number -= 1
    print("After decrement:", number)

increment_decrement()

After increment: 6
After decrement: 5

3. Write a program to find the two numbers equal or not.

In [ ]:
def are_equal(num1, num2):
    return num1 == num2

num1 = 10
num2 = 10
print(are_equal(num1, num2))

True

4. Program for relational operators (<,<==, >, >==)

In [ ]:
# Get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Using relational operators
print(f"{num1} < {num2}: {num1 < num2}")    # Less than
print(f"{num1} <= {num2}: {num1 <= num2}")  # Less than or equal to
print(f"{num1} > {num2}: {num1 > num2}")    # Greater than
print(f"{num1} >= {num2}: {num1 >= num2}")  # Greater than or equal to

Enter the first number: 6
Enter the second number: 8
6.0 < 8.0: True
6.0 <= 8.0: True
6.0 > 8.0: False
6.0 >= 8.0: False

5. Print the smaller and larger number

In [ ]:
def compare_numbers(a, b):
    if a < b:
        print(f"Smaller number: {a}")
        print(f"Larger number: {b}")
    elif a > b:
        print(f"Smaller number: {b}")
        print(f"Larger number: {a}")
    else:
        print("Both numbers are equal.")

compare_numbers(10, 20)
compare_numbers(20, 10)
compare_numbers(15, 15)

Smaller number: 10
Larger number: 20
Smaller number: 10
Larger number: 20
Both numbers are equal.

Loops

1. Write a program to print  “Bright IT Career”  ten times using for loop

In [ ]:
for _ in range(10):
    print("Bright IT Career")

Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career

2. Write a program to print 1 to 20 numbers using the while loop.

In [3]:
i = 1
while i <= 20:
    print(i, end = " ")
    i = i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

3. Program to equal operator and not equal operators

In [ ]:
a = 5
b = 10

# Equal operator
if a == b:
    print("a is equal to b")
else:
    print("a is not equal to b")

# Not equal operator
if a != b:
    print("a is not equal to b")
else:
    print("a is equal to b")

a is not equal to b
a is not equal to b

4. Write a program to print the odd and even numbers.

In [5]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(1, 10):
    if i % 2 == 0:
        print("Even")
    else:
        print("Odd")

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

5. Write a program to print largest number among three numbers.

In [ ]:
def largest_number(num1, num2, num3):
    return max(num1, num2, num3)

num1 = 10
num2 = 20
num3 = 15
print(find_largest(num1, num2, num3))

20

6. Write a  program to print even number between 10 and 20 using while

In [ ]:
i = 10
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

10
12
14
16
18
20

7. Write a program to print 1 to 10 using the do-while loop statement.

In [ ]:
num = int(input("Enter a number:"))
i = 1
while i<= num:
  print(i, end = "")
  i = i+1

Enter a number:10
12345678910

In [6]:
i = 1
while True:
  print(i, end = " ")
  i = i+1
  if i>10:
    break

1 2 3 4 5 6 7 8 9 10

8. Write a program to find Armstrong number or not

In [ ]:
num = int(input("Enter a number: "))
sum = 0
temp = num

while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number: 87659
87659 is not an Armstrong number

9. Write a program to find the prime or not.

In [ ]:
n = int(input("Enter a number"))
for i in range(2, n):
  if n%1 == 0:
    print(n, "is not a prime")
    break
  else:
    print(n, "is prime")

Enter a number5
5 is not a prime

10. Write a program to palindrome or not.

In [ ]:
string = input("Enter a string: ")

if string == string[::-1]:
    print(string, "is a palindrome")
else:
    print(string, "is not a palindrome")

Enter a string: MADAM
MADAM is a palindrome

11. Program to check whether a number is EVEN or ODD using switch

In [ ]:
def even_or_odd(n):
    match n % 2:
        case 0:
            print(f"{n} is Even")
        case 1:
            print(f"{n} is Odd")

number = int(input("Enter a number: "))
even_or_odd(number)

Enter a number: 5
5 is Odd

12. Print gender (Male/Female) program according to given M/F using switch

In [ ]:
%%time
def print_gender(gender):
  match gender:
    case "M" | "m" :
      print("Male")
    case "F" | "f" :
      print("Female")

gender = input("Enter a gender (M/F):")
print_gender(gender)

Enter a gender (M/F):M
Male
CPU times: user 95 ms, sys: 14.7 ms, total: 110 ms
Wall time: 6.21 s

Arrays

1. Write a function to add integer values of an array

In [ ]:
def sum_array(arr):
    return sum(arr)

# Example usage:
arr = [1, 2, 3, 4, 5]
print(sum_array(arr))

15

2. Write a function to calculate the average value of an array of integers

In [ ]:
def average_array(arr):
    return sum(arr) / len(arr)

# Example usage:
arr = [1, 2, 3, 4, 5]
print(average_array(arr))

3.0

3. Write a program to find the index of an array element

In [ ]:
def find_index(arr, target):
    try:
        return arr.index(target)
    except ValueError:
        return -1

# Example usage:
arr = [1, 2, 3, 4, 5]
print(find_index(arr, 3))
print(find_index(arr, 6))

2
-1

4. Write a function to test if array contains a specific value

In [ ]:
def contains(arr, value):
    return value in arr

# Example usage:
arr = [1, 2, 3, 4, 5]
print(contains(arr, 3))
print(contains(arr, 10))

True
False

5. Write a function to remove a specific element from an array

In [ ]:
def remove_element(arr, value):
    if value in arr:
        arr.remove(value)
    return arr

# Example usage:
arr = [1, 2, 3, 4, 5]
print(remove_element(arr, 3))

[1, 2, 4, 5]

6. Write a function to copy an array to another array

In [ ]:
def copy_array(arr):
    return arr[:]

# Example usage:
arr = [1, 2, 3, 4, 5]
new_arr = copy_array(arr)
print(new_arr)

[1, 2, 3, 4, 5]

7. Write a function to insert an element at a specific position in the array

In [ ]:
def insert_element(arr, index, value):
    return arr[:index] + [value] + arr[index:]

# Example usage:
arr = [1, 2, 3, 4, 5]
print(insert_element(arr, 2, 10))

[1, 2, 10, 3, 4, 5]

8. Write a function to find the minimum and maximum value of an array

In [ ]:
def find_min_max(arr):
    return min(arr), max(arr)

# Example usage:
arr = [1, 2, 3, 4, 5]
print(find_min_max(arr))

(1, 5)

9. Write a function to reverse an array of integer values

In [ ]:
def reverse_array(arr):
    return arr[::-1]

# Example usage:
arr = [1, 2, 3, 4, 5]
print(reverse_array(arr))

[5, 4, 3, 2, 1]

10. Write a function to find the duplicate values of an array

In [ ]:
def find_duplicates(arr):
    return [x for x in set(arr) if arr.count(x) > 1]

# Example usage:
arr = [1, 2, 2, 3, 4, 4, 5]
print(find_duplicates(arr))

[2, 4]

11. Write a program to find the common values between two arrays

In [ ]:
def find_common(arr1, arr2):
    return list(set(arr1) & set(arr2))

# Example usage:
arr1 = [1, 2, 3, 4, 5]
arr2 = [4, 5, 6, 7, 8]
print(find_common(arr1, arr2))

[4, 5]

12. Write a method to remove duplicate elements from an array

In [ ]:
def find_duplicates(arr):
    duplicates = []
    seen = set()
    for value in arr:
        if value in seen:
            duplicates.append(value)
        else:
            seen.add(value)
    return duplicates

# Example usage:
arr = [1, 2, 3, 4, 5, 3, 2]
print(find_duplicates(arr))

[3, 2]

13. Write a method to find the second largest number in an array

In [ ]:
def find_second_largest(arr):
    unique_arr = list(set(arr))
    if len(unique_arr) < 2:
        return None
    unique_arr.sort(reverse=True)
    return unique_arr[1]

# Example usage:
arr = [1, 2, 3, 4, 5]
print(find_second_largest(arr))

4

14. Write a method to find the second largest number in an array

In [ ]:
def count_even_odd(arr):
    even_count = len([x for x in arr if x % 2 == 0])
    odd_count = len([x for x in arr if x % 2 != 0])
    return even_count, odd_count

# Example usage:
arr = [1, 2, 3, 4, 5]
print(count_even_odd(arr))

(2, 3)

15. Write a method to find number of even number and odd numbers in an array

In [ ]:
def diff_max_min(arr):
    return max(arr) - min(arr)

# Example usage:
arr = [1, 2, 3, 4, 5]
print(diff_max_min(arr))

4

16. Write a function to get the difference of largest and smallest value

In [ ]:
def contains_elements(arr, elem1, elem2):
    return elem1 in arr and elem2 in arr

# Example usage:
arr = [1, 12, 23, 4, 5]
print(contains_elements(arr, 12, 23))

True

17. Write a method to verify if the array contains two specified elements(12,23)

In [ ]:
def remove_duplicates_new(arr):
    return list(dict.fromkeys(arr))

# Example usage:
arr = [1, 2, 3, 4, 5, 3, 2]
print(remove_duplicates_new(arr))

[1, 2, 3, 4, 5]

18. Write a program to remove the duplicate elements and return the new array

In [ ]:
def remove_duplicates(arr):
    return list(set(arr))

# Example usage:
arr = [1, 2, 3, 4, 5, 3, 2]
new_arr = remove_duplicates(arr)
print(new_arr)

[1, 2, 3, 4, 5]

Static

1. Define a static variable and access that through a class

In [ ]:
class MyClass:
    # Define a static variable
    static_variable = "I am a static variable"

# Access the static variable through the class
print(MyClass.static_variable)

I am a static variable

2. Define a static variable and access that through a instance

In [ ]:
class MyClass:
    # Define a static variable
    static_variable = "I am a static variable"

# Create an instance of the class
instance = MyClass()

# Access the static variable through the instance
print(instance.static_variable)

I am a static variable

3. Define a static variable and change within the instance

In [ ]:
class MyClass:
    # Define a static variable
    static_variable = "I am a static variable"

# Create an instance of the class
instance = MyClass()

# Change the static variable through the instance
instance.static_variable = "I am a modified instance variable"

# Access the variables
print(MyClass.static_variable)  # Access through the class
print(instance.static_variable)  # Access through the instance

I am a static variable
I am a modified instance variable

4. Define a static variable and change within the class

In [ ]:
class MyClass:
    # Define a static variable
    static_variable = "I am a static variable"

# Change the static variable through the class
MyClass.static_variable = "I am a modified static variable"

# Create an instance of the class
instance = MyClass()

# Access the static variable
print(MyClass.static_variable)  # Access through the class
print(instance.static_variable)  # Access through the instance

I am a modified static variable
I am a modified static variable

Strings

1.Different ways creating a string

In [ ]:
# Using single quotes
str1 = 'Hello'

# Using double quotes
str2 = "World"

# Using triple quotes for multi-line strings
str3 = '''This is a
multi-line string'''

# Using the str() constructor
str4 = str("Python")

2. Concatenating two strings using + operator

In [ ]:
str1 = "Hello"
str2 = "World"
concatenated = str1 + " " + str2
print(concatenated)

Hello World

3. Finding the length of the string

In [ ]:
string = "Python"
length = len(string)
print(length)

6

4. Extract a string using Substring

In [ ]:
string = "Hello, World!"
substring = string[7:12]  # Extracts "World"
print(substring)

World

5. Searching in strings using index()

In [ ]:
string = "Hello, World!"
index = string.index("World")
print(index)

7

6. Matching a String Against a Regular Expression With matches()

In [ ]:
import re

pattern = r'^[A-Z][a-z]*$'  # Regular expression for a capitalized word
string = "Hello"

match = re.match(pattern, string)
if match:
    print("Match found")
else:
    print("No match")

Match found

7. Comparing strings

In [ ]:
str1 = "Hello"
str2 = "World"

# Equality check
print(str1 == str2)

# Lexicographical comparison
print(str1 < str2)

False
True

8. startsWith(), endsWith() and compareTo()

In [ ]:
string = "Hello, World!"

# startswith()
print(string.startswith("Hello"))  # Output: True

# endswith()
print(string.endswith("World!"))   # Output: True

True
True

9. Trimming strings with strip()

In [ ]:
string = "   Hello, World!   "
trim = string.strip()
print(trim)

Hello, World!

10. Replacing characters in strings with replace()

In [ ]:
str = "Hello, World!"
replaced = str.replace("World", "Python")
print(replaced)

Hello, Python!

11. Splitting strings with split()

In [ ]:
string = "Hello, World, Python"
split_list = string.split(", ")
print(split_list)

['Hello', 'World', 'Python']

12. Converting integer objects to Strings

In [ ]:
my_list = [1, 2, 3]
my_dict = {'name': 'Alice', 'age': 30}
my_tuple = (4, 5, 6)

string_list = str(my_list)
string_dict = str(my_dict)
string_tuple = str(my_tuple)

print(string_list)  # Output: '[1, 2, 3]'
print(string_dict)  # Output: "{'name': 'Alice', 'age': 30}"
print(string_tuple)  # Output: '(4, 5, 6)'

[1, 2, 3]
{'name': 'Alice', 'age': 30}
(4, 5, 6)

13. Converting to uppercase and lowercase

In [ ]:
string = "Hello, World!"

# Convert to uppercase
upper_case = string.upper()
print(upper_case)

# Convert to lowercase
lower_case = string.lower()
print(lower_case)

HELLO, WORLD!
hello, world!

Inheritance

1. A, B and C are classes
A is a super class. B is a sub class of A. C is a sub class of B.  
Create three methods in each class, 2 methods are specific to each class and third
method (override method) should be in all three Classes A, B and C
Create a class with main method. Create an object for each class A, B and C in main
method and call every method of each class using its own object/instance.
Call an overridden method with super class reference to B and C class’s objects
Runtime Polymorphism with Data Members/Instance variables, Repeat the above
process only for data members

In [ ]:
class A:
    data_member_a = "A data member"

    def method_a1(self):
        print("A method 1")

    def method_a2(self):
        print("A method 2")

    def override_method(self):
        print("A override method")

class B(A):
    data_member_b = "B data member"

    def method_b1(self):
        print("B method 1")

    def method_b2(self):
        print("B method 2")

    def override_method(self):
        print("B override method")

class C(B):
    data_member_c = "C data member"

    def method_c1(self):
        print("C method 1")

    def method_c2(self):
        print("C method 2")

    def override_method(self):
        print("C override method")

class Main:
    def main(self):
        a = A()
        b = B()
        c = C()

        print("Calling methods on A object:")
        a.method_a1()
        a.method_a2()
        a.override_method()

        print("\nCalling methods on B object:")
        b.method_b1()
        b.method_b2()
        b.override_method()

        print("\nCalling methods on C object:")
        c.method_c1()
        c.method_c2()
        c.override_method()

        print("\nRuntime Polymorphism with method overriding:")
        a_ref = A()
        b_ref = a_ref
        c_ref = a_ref

        b_ref = b
        c_ref = c

        b_ref.override_method()
        c_ref.override_method()

        print("\nRuntime Polymorphism with data members:")
        a_ref = a
        b_ref = a_ref
        c_ref = a_ref

        b_ref = b
        c_ref = c

        print(a_ref.data_member_a)
        print(b_ref.data_member_b)
        print(c_ref.data_member_c)

if __name__ == "__main__":
    main = Main()
    main.main()

Calling methods on A object:
A method 1
A method 2
A override method

Calling methods on B object:
B method 1
B method 2
B override method

Calling methods on C object:
C method 1
C method 2
C override method

Runtime Polymorphism with method overriding:
B override method
C override method

Runtime Polymorphism with data members:
A data member
B data member
C data member

Accesss Modifiers

1. Create a class with PRIVATE fields, private method and a main method. Print the fields in main method. Call the private method in main method. Create a sub class and try to access the private fields and methods from sub class.

In [ ]:
class Parent:
    def __init__(self):
        self.__private_field = "Private field "

    def __private_method(self):
        print("Private method")

    def main(self):
        print("In main method:")
        print(self.__private_field)
        self.__private_method()

class Child(Parent):
    def child_method(self):
        try:
            print("Accessing private field from child class:", self.__private_field)
        except AttributeError:
            print("Cannot access private field from child class")

        try:
            self.__private_method()
        except AttributeError:
            print("Cannot access private method from child class")

if __name__ == "__main__":
    parent = Parent()
    parent.main()

    child = Child()
    child.child_method()

In main method:
Private field
Private method
Cannot access private field from child class
Cannot access private method from child class

2. Create a class with PROTECTED fields and methods. Access these fields and methods
from any other class in the same package.

In [ ]:
# Base class with protected fields and methods
class BaseClass:
    def __init__(self):
        self._protected_field = "This is a protected field"

    def _protected_method(self):
        return "This is a protected method"


# Another class in the same package accessing the protected fields/methods
class AnotherClassInSamePackage:
    def access_protected(self):
        base_obj = BaseClass()
        print(base_obj._protected_field)  # Accessing protected field
        print(base_obj._protected_method())  # Accessing protected method


# Testing access from the same package
if __name__ == "__main__":
    obj = AnotherClassInSamePackage()
    obj.access_protected()

This is a protected field
This is a protected method

Abstract Class

1. Create an abstract class with abstract and non-abstract methods.

In [ ]:
from abc import ABC, abstractmethod

class AbstractClass(ABC):
    def __init__(self):
        self.name = "Abstract Base Class"

    def non_abstract_method(self):
        print("This is a non-abstract method from the AbstractClass.")

    @abstractmethod
    def abstract_method(self):
        pass

2. Create a sub class for an abstract class. Create an object in the child class for the  
abstract class and access the non-abstract methods

In [ ]:
# Subclass of the AbstractClass
class ChildClass(AbstractClass):
    def __init__(self):
        super().__init__()

    def abstract_method(self):
        print("This is the implementation of the abstract method in the ChildClass.")

    def access_non_abstract_method(self):
        self.non_abstract_method()

3. Create an instance for the child class in child class and call abstract methods

In [ ]:
if __name__ == "__main__":
    child_obj = ChildClass()
    child_obj.abstract_method()

This is the implementation of the abstract method in the ChildClass.

4. Create an instance for the child class in child class and call non-abstract methods

In [ ]:
if __name__ == "__main__":
    child_obj = ChildClass()
    child_obj.non_abstract_method()

This is a non-abstract method from the AbstractClass.

Packages

Create a program to create two class.

1.1. Create a constructor and a method for each class

1.2. Create a __init__.py for adding all packages

1.3. Import the respective packages

1.4. Call each class by creating an object to it  

1.5. Create a program by all the above

In [ ]:
# Define the first class
%%time
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(f"Name: {self.name}, Age: {self.age}")

# Define the second class
class Student:
    def __init__(self, student_id, major):
        self.student_id = student_id
        self.major = major

    def display(self):
        print(f"Student ID: {self.student_id}, Major: {self.major}")

# Create instances of the classes
person1 = Person("Mahesh", 22)
student1 = Student("S12345", "Information Technology")

# Call the display method for each instance
person1.display()
student1.display()

Name: Mahesh, Age: 22
Student ID: S12345, Major: Information Technology
CPU times: user 2.5 ms, sys: 0 ns, total: 2.5 ms
Wall time: 2.51 ms

In [ ]:
pip install my_package

Collecting my_package
  Downloading my_package-0.0.0-py3-none-any.whl.metadata (174 bytes)
Downloading my_package-0.0.0-py3-none-any.whl (2.0 kB)
Installing collected packages: my_package
Successfully installed my_package-0.0.0

Constructors

1. Write a class with a default constructor, one argument constructor and two argument constructors. Instantiate the class to call all the constructors of that class from a main class

In [ ]:
class MyClass:
    def __init__(self, arg1=None, arg2=None):
        if arg1 is None and arg2 is None:
            print("Default constructor called")
        elif arg2 is None:
            print(f"One argument constructor called with arg1: {arg1}")
        else:
            print(f"Two argument constructor called with arg1: {arg1} and arg2: {arg2}")

# Main class to instantiate MyClass and call all constructors
class MainClass:
    def __init__(self):
        # Calling default constructor
        obj1 = MyClass()
        # Calling one argument constructor
        obj2 = MyClass("Hello")
        # Calling two argument constructor
        obj3 = MyClass("Hello", "World")

# Instantiate MainClass to call all constructors
main_obj = MainClass()

Default constructor called
One argument constructor called with arg1: Hello
Two argument constructor called with arg1: Hello and arg2: World

2. Call the constructors(both default and argument constructors) of super class from a child class

In [ ]:
class SuperClass:
    def __init__(self, arg1=None):
        if arg1 is None:
            print("SuperClass default constructor called")
        else:
            print(f"SuperClass one argument constructor called with arg1: {arg1}")

class ChildClass(SuperClass):
    def __init__(self, arg1=None):
        if arg1 is None:
            super().__init__()
        else:
            super().__init__(arg1)
        print("ChildClass constructor called")

# Instantiate ChildClass to call both constructors of SuperClass
child_obj1 = ChildClass()
child_obj2 = ChildClass("Hello")

SuperClass default constructor called
ChildClass constructor called
SuperClass one argument constructor called with arg1: Hello
ChildClass constructor called

3. Apply private, public, protected and default access modifiers to the constructor

In [ ]:
class AccessModifiersClass:
    def __init__(self, public, _protected, __private):
        self.public = public
        self._protected = _protected
        self.__private = __private

    def display(self):
        print(f"Public: {self.public}, Protected: {self._protected}, Private: {self.__private}")

# Instantiate AccessModifiersClass
access_obj = AccessModifiersClass("Public Value", "Protected Value", "Private Value")
access_obj.display()

Public: Public Value, Protected: Protected Value, Private: Private Value

4. Write a program which illustrates the concept of attributes of a constructor

In [ ]:
class AttributesClass:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_attributes(self):
        print(f"Name: {self.name}, Age: {self.age}")

# Instantiate AttributesClass and display attributes
attributes_obj = AttributesClass("Mahesh", 22)
attributes_obj.display_attributes()

Name: Mahesh, Age: 22

Method Overloading

1. Write two methods with the same name but different number of parameters of same type and call the methods

  2. Write two methods with the same name but different number of parameters of different data type and call the methods

  3. Write two methods with the same name and same number of parameters of same type

In [ ]:
class OverloadExample:
    # Method with one parameter
    def add(self, a):
        print("Sum with one parameter: {a}")

    # Method with two parameters
    def add(self, a, b):
        print("Sum with two parameters: {a + b}")

# Creating object
obj = OverloadExample()
obj.add(5, 10)

Sum with two parameters: {a + b}

In [ ]:
class OverloadExample:
    # Method with two integer parameters
    def add(self, a, b):
        if isinstance(a, int) and isinstance(b, int):
            print(f"Integer addition: {a + b}")
        elif isinstance(a, str) and isinstance(b, str):
            print(f"String concatenation: {a + b}")

# Creating object
obj = OverloadExample()
obj.add(5, 10)
obj.add("Hello, ", "World!")

Integer addition: 15
String concatenation: Hello, World!

In [ ]:
class OverloadExample:
    # Method with two integer parameters
    def add(self, a, b):
        print(f"Method with two integer parameters: {a + b}")

    # Second method, this would override the first one if placed later
    def add(self, a, b):
        print(f"Method with two string parameters: {a + b}")

obj = OverloadExample()
obj.add(10, 20)

Method with two string parameters: 30

Exceptions

1. Write a program to generate Arithmetic Exception without exception handling
2. Handle the Arithmetic exception using try-catch block
3. Write a method which throws exception, Call that method in main class without try block
4. Write a program with multiple catch blocks
5. Write a program to throw exception with your own message
6. Write a program to create your own exception
7. Write a program with finally block
8. Write a program to generate Arithmetic Exception
9. Write a program to generate FileNotFoundException
10. Write a program to generate ClassNotFoundException
11. Write a program to generate IOException
12. Write a program to generate NoSuchFieldException

In [ ]:
result = 10 / 0
print(result)

ZeroDivisionError: division by zero

In [ ]:
try:
    result = 10 / 0
    print(result)
except ZeroDivisionError as e:
    print(f"ZeroDivisionError occurred: {e}")

ZeroDivisionError occurred: division by zero

In [ ]:
def throw_exception():
    raise Exception("This is a custom exception!")

# Calling the method without try-catch
throw_exception()

Exception: This is a custom exception!

In [ ]:
try:
    number = int(input("Enter a number: "))
    result = 10 / number
except ValueError:
    print("Input was not a valid integer.")
except ZeroDivisionError:
    print("Cannot divide by zero.")

Enter a number: 10

In [ ]:
def throw_custom_exception():
    raise Exception("Custom message: Something went wrong!")

try:
    throw_custom_exception()
except Exception as e:
    print(e)

Custom message: Something went wrong!

In [ ]:
class MyCustomException(Exception):
    def __init__(self, message):
        self.message = message

def raise_custom_exception():
    raise MyCustomException("This is my custom exception!")

try:
    raise_custom_exception()
except MyCustomException as e:
    print(f"Caught custom exception: {e.message}")

Caught custom exception: This is my custom exception!

In [ ]:
try:
    result = 10 / 2
    print(f"Result: {result}")
except ZeroDivisionError as e:
    print(f"Exception: {e}")
finally:
    print("This will always execute.")

Result: 5.0
This will always execute.

In [ ]:
# This will cause a ZeroDivisionError (Arithmetic Exception)
result = 10 / 0

ZeroDivisionError: division by zero

In [ ]:
# Trying to open a non-existent file
with open('non_existent_file.txt', 'r') as file:
    content = file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt'

In [ ]:
try:
    import non_existent_module
except ModuleNotFoundError as e:
    print(f"Exception: {e}")

Exception: No module named 'non_existent_module'

In [ ]:
try:
    with open("/restricted_access.txt", "w") as file:
        file.write("Test")
except OSError as e:
    print(f"IOException caught: {e}")

In [ ]:
class Sample:
    def __init__(self):
        self.name = "Sample Class"

obj = Sample()

try:
    print(obj.non_existent_field)
except AttributeError as e:
    print(f"NoSuchFieldException (simulated): {e}")

NoSuchFieldException (simulated): 'Sample' object has no attribute 'non_existent_field'

Dictionary

1. Create a Dictionary with at least 5 key value pairs of the Student ID and Name

 1.1. Adding the values in dictionary

 1.2. Updating the values in dictionary

 1.3. Accessing the value in dictionary

 1.4. Create a nested loop dictionary

 1.5. Access the values of nested loop dictionary

 1.6. Print the keys present in a particular dictionary

 1.7. Delete a value from a dictionary

In [ ]:
# Creating a dictionary with 5 key-value pairs
student_dict = {
    101: "Mahesh",
    102: "Rakesh",
    103: "Preethi",
    104: "Pragna",
    105: "Vivek"
}

print(student_dict)

{101: 'Mahesh', 102: 'Rakesh', 103: 'Preethi', 104: 'Pragna', 105: 'Vivek'}

In [ ]:
# Adding a new student
student_dict[106] = "Frank"
print(student_dict)

{101: 'Mahesh', 102: 'Rakesh', 103: 'Preethi', 104: 'Pragna', 105: 'Vivek', 106: 'Frank'}

In [ ]:
# Updating the name of student with ID 102
student_dict[102] = "Bob Updated"
print(student_dict)

{101: 'Mahesh', 102: 'Bob Updated', 103: 'Preethi', 104: 'Pragna', 105: 'Vivek', 106: 'Frank'}

In [ ]:
# Accessing the name of the student with ID 103
student_name = student_dict[103]
print(f"Student with ID 103 is {student_name}")

Student with ID 103 is Charlie

In [ ]:
# Creating a nested dictionary with student details
nested_student_dict = {
    101: {"name": "Mahesh", "age": 20, "grade": "A"},
    102: {"name": "Rakesh", "age": 21, "grade": "B"},
    103: {"name": "Preethi", "age": 22, "grade": "A"},
}

print(nested_student_dict)

{101: {'name': 'Mahesh', 'age': 20, 'grade': 'A'}, 102: {'name': 'Rakesh', 'age': 21, 'grade': 'B'}, 103: {'name': 'Preethi', 'age': 22, 'grade': 'A'}}

In [ ]:
# Accessing the 'grade' of the student with ID 101
student_grade = nested_student_dict[101]["grade"]
print(f"Student with ID 101 has grade: {student_grade}")

Student with ID 101 has grade: A

In [ ]:
# Printing the keys present in the dictionary
keys = student_dict.keys()
print(f"Keys in the student_dict: {list(keys)}")

Keys in the student_dict: [101, 102, 103, 104, 105, 106]

In [ ]:
# Deleting the student with ID 104
del student_dict[104]
print(student_dict)

{101: 'Mahesh', 102: 'Bob Updated', 103: 'Preethi', 105: 'Vivek', 106: 'Frank'}